.hak-icerik {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#hakkimizda-icerik {
  margin-top: 130px;
}

@media (max-width: 768px) {
  #hakkimizda-icerik {
    margin-top: 120px;
    position: relative;
  }
}

#hak {
  width: 100%;
  margin: 0 auto;
  left: 0;
  width: 100%;
  bottom: 0;
}

@media (min-width: 576px) {
  #hakkimizda {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
  }
}

#one-cikanlar {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 40px;
}

#promo {
  width: 100%;
  padding-top: 50px;
  /*height: 100vh;*/
  background-color: #eee;
  padding-bottom: 30px;
}

.promo-baslik {
  align-items: center;
}

.baslik {
  font-family: 'Poppins';
  margin-bottom: 0;
  font-weight: 800;
  color: #d6d6d6;
  text-align: center;
}

@media (min-width: 768px) {
  .baslik {
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 0;
    font-size: 5rem;
    font-weight: 800;
    color: #d6d6d6;
  }
}

.d-xl-flex.justify-content-xl-center {
  margin-top: 11px;
}

.hr-divi {
  align-items: center;
  justify-content: center;
}

hr {
  width: 63%;
  border: 1px solid #ff9519;
  margin: 0 auto;
}

.yeni-urun-desc {
  text-align: center;
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 26px;
  font-family: 'Poppins';
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins';
}

.btn.btn-primary {
  font-family: 'Poppins';
  padding: 10px 48px;
  border-radius: 50px;
}

.row.katalog {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.col-6.col-sm-4.col-md-3.col-lg-3.deneme {
  background-color: #eee;
  padding: 20px;
}

.kat-link:hover {
  color: rgb(0,93,169);
}

.kat-link {
  color: rgb(238,114,3);
}

.fa.fa-book {
  font-size: 43px;
}

