@media (min-width: 992px) {
  .container.yeni-urunler {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    margin-top: 31px;
  }
}

#kategori-nav, #urun-sutunu {
  margin: 0;
  padding: 5px;
}

#urun-sutunu {
  width: 100%;
}

